.nav {
  display: flex;
  position: fixed;
}
h2 {
  padding-left: 80px;
}
#first-nav-item {
  padding-left: 300px;
}
.nav-items{
  padding-left: 140px;
  padding-top: 10px;
}
#last-nav-item {
  /* justify-items: right; */
  right: -220px;
  position: relative;
}
